@import "../../styles/mixins.scss";

.Comment {
  &_Avatar {
    width: 28px !important;
    height: 28px !important;
  }
  &_User {
    font-weight: bold !important;
    margin-right: 8px !important;
  }
  &_SpeedDialFab {
    width: 32px !important;
    height: 32px !important;
    min-height: 32px !important;
  }
  &_Action {
    font-size: small;
    &_Icon {
      margin-right: rem(5px);
    }
  }
}