.Register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &_Wrapper {
    padding: 40px;
    border-radius: 10px !important;
  }

  &_Title {
    text-align: center;
  }

  &_Caption {
    text-align: center;
  }
}