.Form {
  margin-bottom: 8px;
  padding: 0px 24px;

  &_Button_Wrapper {
    text-align: right;
  }
  &_Button {
    margin-right: 5px !important;
  }

  &_Button_Root {
    border-radius: 15px !important;
  }
}