.Form {
  margin-bottom: 8px;
  padding: 0px 24px;

  &_Button_Wrapper {
    text-align: right;
  }
  &_Button {
    margin-left: auto;
  }

  &_Button_Root {
    padding: 0px;
    border-radius: 15px;
  }
}