@import "../../styles/mixins.scss";

.Item {
  &_Author {
    font-weight: 600 !important;
    font-size: 0.9rem !important;
    margin-right: 5px !important;
  }
  &_Votes {
    margin: 0 8px;
  }
  &_Comments {
    cursor: pointer;
  }
  &_Comment {
    padding-left: 4.5rem !important;
  }
  &_Action {
    font-size: small;
    &_Icon {
      margin-right: rem(5px);
    }
  }
}