@import '../styles/mixins.scss';

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
}
.postTitle {
  font-weight: bold;
}
.errorMessage {
  margin-left: rem(21px) !important;
}
.noPostText {
  font-size: 1.5rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
  margin: 0 rem(5px)
}